# ------------------------------------------------------------------------------------------------------------------------------
# 一時ファイル
# ------------------------------------------------------------------------------------------------------------------------------
# OSやエディタによって一時的に作成されたファイル
*~
*#
*.bak
.settings
.tmp
logs
lib

# ------------------------------------------------------------------------------------------------------------------------------
# 動的に作成されたファイル
# ------------------------------------------------------------------------------------------------------------------------------
# Node.jsによって作成されたファイル
node_modules
npm-debug.log

# テストによって作成されたファイル
coverage
